#d1 {height: 500px;
    width: 500px;
    background-color: green;
}

#d2 {height: 450px;
     width: 450px;
     background-color: yellow;
     position: relative; 
     top: 25px;
    left: 25px;   
}

#d3 {height: 400px;
      width: 400px;
    background-color: green;
    position: relative;
    top: 25px;
    left: 25px;
}

#d4 {height: 350px;
    width: 350px;
    background-color: yellow;
    position: relative;
    top: 25px;
    left: 25px;
}

#d5 {height: 300px;
     width: 300px;
    background-color: green;
    position: relative;
    top: 25px;
    left: 25px;
   
    }

p {padding-top: 130px;
 text-align: center;
 font-size:x-large;
 color: white;
}




