.div {height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
}


.div div {
    height: 400px;
    width: 50%;
    color: white;
    font-size: 200%;
    text-align: center;
    padding-top: 250px;
}

.div div:nth-child(1) {

    background-color: orange;
}

.div div:nth-child(2) {
    background-color: blue;
}


